main {
  width: 100%;
  background-color: white;
  float: left;
  min-height: 350px;
  pointer-events: none;
}
.btn {
  width: 50%;
  float: left;
  min-height: 40px;
}
.btn button {
  position: absolute;
  font-size: 1.5em;
}
.btn .prev {
  left: 0;
}
.btn .next {
  right: 0;
}
.footer {
  clear: both;
  width: 100%;
  min-height: 160px;
  background-color: orange;
  text-align: center;
}
