.gameBox {
  width: 100%;
  text-align: center;
}
.gameBox p {
  width: 100%;
  font-size: 3em;
  padding: 3% 5% 3% 5%;
  font-weight: bold;
  margin: auto;
}
.gameBox button {
  display: inline-block;
  text-align: center;
  width: 80%;
  margin: 10px 2px 10px 36px;
  font-size: 2em;
}
.gameBox .not-active {
  pointer-events: none;
}
.gameBox .right-answer {
  background-color: green;
}
.gameBox .wrong-answer {
  background-color: red;
}
